<!DOCTYPE html>
<html>
<head>
  <title>StressMaps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="http://api.maps.nokia.com/2.2.3/jsl.js?with=all" type="text/javascript" charset="utf-8"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
